In [7]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
Collecting numpy>=1.21.0
  Using cached numpy-1.25.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.6 MB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 KB 2.3 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Requirement already satisfied: python-dateutil>=2.8.2 in ./myenv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in ./myenv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.0 pandas-2.0.3 pytz-2023.3 tzdata-2023.3

In [8]:
import pyspark

In [9]:
import pandas as pd

In [72]:
df = pd.read_csv('Documents/data.csv')
df

   Name  Age  Experience
0   Ugo   27          10
1  Aron   26           9
2  Davi   25           8

In [84]:
from pyspark.sql import SparkSession

In [85]:
spark=SparkSession.builder.appName("Practice").getOrCreate()
spark

In [86]:
df_pyspark = spark.read.csv('Documents/data.csv')
df_pyspark.show()

+----+---+----------+
| _c0|_c1|       _c2|
+----+---+----------+
|Name|Age|Experience|
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [87]:
df_pyspark = spark.read.option('header','true').csv('Documents/data.csv')

In [88]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [89]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [90]:
df = spark.read.option('header','true').csv('Documents/data.csv')

In [91]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [92]:
df = spark.read.csv('Documents/data.csv', header=True, inferSchema=True)
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [93]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [94]:
type(df)

pyspark.sql.dataframe.DataFrame

In [95]:
df.columns

['Name', 'Age', 'Experience']

In [96]:
df.head(3)

[Row(Name='Ugo', Age=27, Experience=10),
 Row(Name='Aron', Age=26, Experience=9),
 Row(Name='Davi', Age=25, Experience=8)]

In [97]:
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [98]:
df.select('Name')

DataFrame[Name: string]

In [99]:
df.select('Name').show()

+----+
|Name|
+----+
| Ugo|
|Aron|
|Davi|
+----+

In [100]:
df.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
| Ugo|        10|
|Aron|         9|
|Davi|         8|
+----+----------+

In [101]:
df

DataFrame[Name: string, Age: int, Experience: int]

In [102]:
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [103]:
df['Name']

Column<'Name'>

In [104]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [105]:
df.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [106]:
df.describe().show()

+-------+----+----+----------+
|summary|Name| Age|Experience|
+-------+----+----+----------+
|  count|   3|   3|         3|
|   mean|null|26.0|       9.0|
| stddev|null| 1.0|       1.0|
|    min|Aron|  25|         8|
|    max| Ugo|  27|        10|
+-------+----+----+----------+

In [107]:
### Adicionando colunas no fragmento
df = df.withColumn('Experience after 2 years',df['Experience']+2)

In [108]:
df.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
| Ugo| 27|        10|                      12|
|Aron| 26|         9|                      11|
|Davi| 25|         8|                      10|
+----+---+----------+------------------------+

In [109]:
###Dropping 
df = df.drop('Experience after 2 years')

In [110]:
df

DataFrame[Name: string, Age: int, Experience: int]

In [111]:
df.show

In [112]:
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [114]:
df.withColumnRenamed('Name', 'Nome').show()

+----+---+----------+
|Nome|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [115]:
!pip install nbconvert

Requirement already satisfied: nbconvert in ./myenv/lib/python3.10/site-packages (7.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in ./myenv/lib/python3.10/site-packages (from nbconvert) (1.5.0)
Requirement already satisfied: nbclient>=0.5.0 in ./myenv/lib/python3.10/site-packages (from nbconvert) (0.8.0)
Requirement already satisfied: traitlets>=5.1 in ./myenv/lib/python3.10/site-packages (from nbconvert) (5.9.0)
Requirement already satisfied: bleach!=5.0.0 in ./myenv/lib/python3.10/site-packages (from nbconvert) (6.0.0)
Requirement already satisfied: beautifulsoup4 in ./myenv/lib/python3.10/site-packages (from nbconvert) (4.12.2)
Requirement already satisfied: defusedxml in ./myenv/lib/python3.10/site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: jupyter-core>=4.7 in ./myenv/lib/python3.10/site-packages (from nbconvert) (5.3.1)
Requirement already satisfied: pygments>=2.4.1 in ./myenv/lib/python3.10/site-packages (from nbconvert) (2.15.1)
Requirement already satisfied: jinja2>=3.0 in ./myenv/lib/python3.10/site-packages (from nbconvert) (3.1.2)
Requirement already satisfied: nbformat>=5.7 in ./myenv/lib/python3.10/site-packages (from nbconvert) (5.9.0)
Requirement already satisfied: markupsafe>=2.0 in ./myenv/lib/python3.10/site-packages (from nbconvert) (2.1.3)
Requirement already satisfied: packaging in ./myenv/lib/python3.10/site-packages (from nbconvert) (23.1)
Requirement already satisfied: jupyterlab-pygments in ./myenv/lib/python3.10/site-packages (from nbconvert) (0.2.2)
Requirement already satisfied: mistune<4,>=2.0.3 in ./myenv/lib/python3.10/site-packages (from nbconvert) (3.0.1)
Requirement already satisfied: tinycss2 in ./myenv/lib/python3.10/site-packages (from nbconvert) (1.2.1)
Requirement already satisfied: six>=1.9.0 in ./myenv/lib/python3.10/site-packages (from bleach!=5.0.0->nbconvert) (1.16.0)
Requirement already satisfied: webencodings in ./myenv/lib/python3.10/site-packages (from bleach!=5.0.0->nbconvert) (0.5.1)
Requirement already satisfied: platformdirs>=2.5 in ./myenv/lib/python3.10/site-packages (from jupyter-core>=4.7->nbconvert) (3.8.0)
Requirement already satisfied: jupyter-client>=6.1.12 in ./myenv/lib/python3.10/site-packages (from nbclient>=0.5.0->nbconvert) (8.3.0)
Requirement already satisfied: jsonschema>=2.6 in ./myenv/lib/python3.10/site-packages (from nbformat>=5.7->nbconvert) (4.17.3)
Requirement already satisfied: fastjsonschema in ./myenv/lib/python3.10/site-packages (from nbformat>=5.7->nbconvert) (2.17.1)
Requirement already satisfied: soupsieve>1.2 in ./myenv/lib/python3.10/site-packages (from beautifulsoup4->nbconvert) (2.4.1)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in ./myenv/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in ./myenv/lib/python3.10/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert) (23.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./myenv/lib/python3.10/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: tornado>=6.2 in ./myenv/lib/python3.10/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.3.2)
Requirement already satisfied: pyzmq>=23.0 in ./myenv/lib/python3.10/site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (25.1.0)