In [8]:
import pyspark

In [9]:
import pandas as pd

In [72]:
df = pd.read_csv('Documents/data.csv')
df

   Name  Age  Experience
0   Ugo   27          10
1  Aron   26           9
2  Davi   25           8

In [84]:
from pyspark.sql import SparkSession

In [85]:
spark=SparkSession.builder.appName("Practice").getOrCreate()
spark

In [86]:
df_pyspark = spark.read.csv('Documents/data.csv')
df_pyspark.show()

+----+---+----------+
| _c0|_c1|       _c2|
+----+---+----------+
|Name|Age|Experience|
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [87]:
df_pyspark = spark.read.option('header','true').csv('Documents/data.csv')

In [88]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [89]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [90]:
df = spark.read.option('header','true').csv('Documents/data.csv')

In [91]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [92]:
df = spark.read.csv('Documents/data.csv', header=True, inferSchema=True)
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [93]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [94]:
type(df)

pyspark.sql.dataframe.DataFrame

In [95]:
df.columns

['Name', 'Age', 'Experience']

In [96]:
df.head(3)

[Row(Name='Ugo', Age=27, Experience=10),
 Row(Name='Aron', Age=26, Experience=9),
 Row(Name='Davi', Age=25, Experience=8)]

In [97]:
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [98]:
df.select('Name')

DataFrame[Name: string]

In [99]:
df.select('Name').show()

+----+
|Name|
+----+
| Ugo|
|Aron|
|Davi|
+----+

In [100]:
df.select(['Name','Experience']).show()

+----+----------+
|Name|Experience|
+----+----------+
| Ugo|        10|
|Aron|         9|
|Davi|         8|
+----+----------+

In [101]:
df

DataFrame[Name: string, Age: int, Experience: int]

In [102]:
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [103]:
df['Name']

Column<'Name'>

In [104]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [105]:
df.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [106]:
df.describe().show()

+-------+----+----+----------+
|summary|Name| Age|Experience|
+-------+----+----+----------+
|  count|   3|   3|         3|
|   mean|null|26.0|       9.0|
| stddev|null| 1.0|       1.0|
|    min|Aron|  25|         8|
|    max| Ugo|  27|        10|
+-------+----+----+----------+

In [107]:
### Adicionando colunas no fragmento
df = df.withColumn('Experience after 2 years',df['Experience']+2)

In [108]:
df.show()

+----+---+----------+------------------------+
|Name|Age|Experience|Experience after 2 years|
+----+---+----------+------------------------+
| Ugo| 27|        10|                      12|
|Aron| 26|         9|                      11|
|Davi| 25|         8|                      10|
+----+---+----------+------------------------+

In [109]:
###Dropping 
df = df.drop('Experience after 2 years')

In [110]:
df

DataFrame[Name: string, Age: int, Experience: int]

In [111]:
df.show

In [112]:
df.show()

+----+---+----------+
|Name|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+

In [114]:
df.withColumnRenamed('Name', 'Nome').show()

+----+---+----------+
|Nome|Age|Experience|
+----+---+----------+
| Ugo| 27|        10|
|Aron| 26|         9|
|Davi| 25|         8|
+----+---+----------+